/*
    Scratchpad Professional
*/

/* Text area */
QTextEdit {
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #000000;
    border: 1px solid #cccccc;
    padding: 2px;
}

/* Main window */
QMainWindow {
    background-color: #ffffff;
}

/* Bottom status bar */
QStatusBar {
    background-color: #f1f1f1;
    color: #202020;
}

/* Top menu bar */
QMenuBar {
    background-color: #0c0c0c;
    color: #ffffff;
}

/* Menu bar options */
QMenuBar::item {
    background: transparent;
    padding: 5px 10px;
}

/* Menu bar options when selected */
QMenuBar::item:selected {
    background: #000000;
}